<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/firstpage.css">
    <title>Document</title>
</head>
<body>
    <div class="container"  style="margin: auto; width: 100%;">
        <div class="row navbr">
            <div class="col-sm-3">
                <a href="/index.html"><button class="nav_button">Home</button></a>
            </div>
            <div class="col-sm-3">
                <a href="template/stteliteinfo.html"><button class="nav_button">Satellites</button></a>
            </div>
            <div class="col-sm-3">
                <button disabled class="nav_button">Rockets</button>
            </div>
            <div class="col-sm-3">
                <a href="/template/ISS.html"><button class="nav_button">ISS</button></a>
            </div>
            <div class="col-sm-3">
                <a href="/template/Telescopes.html"><button class="nav_button">Telescopes</button></a>
            </div>
        </div>
    </div>
    <h2>Rockets field</h2>
    
</body>
</html>